body {
    background-color: rgb(170, 248, 235);
}

.layout-header {
    padding: 10px;
}

.navbar-brand {
    font-size: 24px;
}
.me-auto{
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.nav-link {
    margin-right: 10px;
    font-size: 20px;
    list-style: none;
}

.nav-link:hover {
    text-decoration: none;
    color: lightgray;
}

main {
    padding: 20px;
}